html{
	font-size:62.5%;
}
h2,#picsHeader{
	color: #568E14;
}
body{
	text-align:center;
	overflow:auto;
	font-size:14px;
	font-size:1.4rem;
}
.imageContainer{
	/*position: relative;*/
	margin-top:5%;
}
.overlay{
	position: fixed;
	top:0;
	left:0;
	z-index:1;
	height:100vh;
	width:100vw;
	background-color: #f4f4f4;
	display:none;
	
}

.content{
	position:absolute;
	top: 2vh;
	left: 7.5vw;
	z-index:2;
	display:none;
	color:black;
	background-color:white;
	width:85vw;
	height:97vh;
	font-size:3.4rem;
	
}

.content img{
	/*height:100%;
	width:100%;*/
	max-height:82vh;
	min-height:80vh;
	max-width:97%;
	min-width:60%;
	
}

.content .fa-chevron-left, .content .fa-chevron-right{
	margin-top:35vh;
}

.closeContainer{
	position: absolute;
	top: -4%;
	left: 100%;
	z-index:3;
	font-size:3.5rem;
}
.closeContainer span{
	font-size: 3rem;
}

/*  timeline  */

.timeline{
	margin-top:1%;
	width:50%;
	margin-left:25%;
}
.arrow, .selector, .img-prev, .img-next{
	color: #568E14;
}

.img-prev, .img-next{
	font-size:5rem !important;
}
.disabled{
	color: #f4f4f4;
}

.year:hover, .makeLink{
	color: #568E14;
	cursor: pointer;
}
.active{
	color:#568E14;
}
.active .selector{
	background-color:#568E14;
}
.selector{
	height:5px;
	border-radius:15px;
}

.showSelector{
	display:inherit;
}

.mainDiv{
	   color:white;
      /* min-height:25vh;*/
       height:auto;
       padding:0;
       margin:2%;
	
}
.picDiv{
	margin:.5%;
	height: 25vh;
}
#picsHeader{
	margin: 1% 15% 1% 15%;
}
#albumSummary{
	font-size:1.4rem;
	margin: 0 15% 0 15%;
}
.albumContainer, .imageContainer{
	margin:2% 0 0 27%;
	width: 50vw;
	height: 75vh;
	/*overflow-y:auto;
	overflow-x:hidden;*/
}

.faceOfAlbum, .albumPic{
	-webkit-box-shadow: 2px 2px 4px 0px black; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
       box-shadow: 2px 2px 4px 0px black; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
	cursor:pointer;
	min-height:25vh;
	height:100%;
	width:100%;	
}

.albumName{
/*	position:absolute;
	z-index:2;
	top:80%;
	left:5%;
*/
color:#0000EE;
margin:10% 0 20% 0;
}

.albumBreadcrumbs{
	 text-align:center;
	 margin: 2% 0 0 18%;
	 width:60%;	
}

.divOverlay{
	border: 1px solid black;
    opacity: 0.3;
    height: 100%;
    position: absolute;
    width: 100%;
    color: white;
    background-color:black;
    top:0;
    left:0;
	
}
.picDesc{
	font-size:1.6rem;
	text-align:left;
	margin-top:25%;
	padding-left:0;
}


.content .col-lg-1,.content .col-lg-3, .arrow {
	padding:0;
}

.noScroll{
	overflow:hidden;
}